.App {
  text-align: center;
}
body{
  background-color: #000000;
  justify-content: center;
}
.header {
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #00796B;
  color: #FFFFFF;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: xx-large;
  margin-left: 50px;
  padding:5px;
}
.logo{
  margin-top: 10px;
}
.container-title{
  display: flex;

}
.container-tables{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.container-dctable, .container-actable{
  background-color: #212121;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.container-graph{
  margin-top: 20px;
}
.container-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: medium;
}
h1{
  color: #FFFFFF;
}
a:link, a:visited {
  background-color: #00796B;
  color: #FFFFFF;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right:2px;
  font-weight: bold;
  border-radius: 5px;
}

a:hover, a:active {
  background-color: #FFA000;
  border: 3px solid #000000;
  color: #000000;
}
table{
  width: 100%;
  justify-content: center;
  background-color: #009688;
  border: solid 1px #607D8B;
  border-radius: 5px;
}
th{
  height: 15px;
  width: 30px;
}
td{
  height: 30px;
  background-color: #B2DFDB;
  border: solid 1px #009688;
}
td:hover{
  background-color: #FFA000;
  font-size: larger;
  font-weight: bold;
}
@media(max-width: 500px){
  .logo{
    margin: 30px 0 0 20px;
  }
  .title{
    margin-left: 20px;
  }
  table{
    width: 100%;
    height: 80px;
  }
  td{
    height: 20px;
  }
}
